/* Default styling is for mobile */

html,
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: #ecf2f9;
}
.light-text {
  opacity: 50%;
}
.component-container {
  display: grid;
  grid-template-columns: 1fr;
}
.testimonial-container {
  border-radius: 10px;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.testimonial-person {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.testimonial-person img {
  border-radius: 100px;
  max-width: 30%;
  padding-top: 0.5rem;
  padding-left: 0.6rem;
}
.person-details h2,
.person-details h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
#daniel {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  margin-top: 3rem;
}
#jonathan {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
#jeanette {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
#patrick {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}
#kira {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
footer {
  margin-top: 3rem;
  text-align: center;
}
